:root {
  --main-color: rgb(0, 176, 255);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Sriracha", cursive;
  background-color: #121212;
}

/* START SETTINGS BOX */
section#settings-box {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  min-height: 100vh;
  background-color: rgba(226, 226, 226, 0.75);
  z-index: 999;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
section#settings-box.open {
  left: 0;
}
section#settings-box i.fa-gear {
  position: absolute;
  top: 15%;
  right: -35px;
  padding: 0.5rem;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  width: 17px;
  cursor: pointer;
}
section#settings-box div.options-box {
  padding: 80px 20px 20px 20px;
  text-align: center;
}
section#settings-box h4 {
  margin: 0;
  color: #222020;
}
section#settings-box ul.colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
}
section#settings-box .colors-list li {
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  border-radius: 20%;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
  opacity: 0.3;
}
section#settings-box .colors-list li.active-color {
  opacity: 1;
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}
section#settings-box .colors-list li:first-child {
  background-color: #121212;
}
section#settings-box .colors-list li:nth-child(2) {
  background-color: #000839;
}
section#settings-box .colors-list li:nth-child(3) {
  background-color: #005082;
}
section#settings-box .colors-list li:nth-child(4) {
  background-color: #00a8cc;
}
section#settings-box .colors-list li:nth-child(5) {
  background-color: #ffa41b;
}

/* END SETTINGS BOX */

/* START LANDING PAGE */
section#landing-page {
  min-height: 100vh;
  background-image: url(../imgs/hero/3.png);
  background-size: cover;
  position: relative;
}
section#landing-page div.overlay {
  background-color: rgba(18, 18, 18, 0.884);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

header.header-area {
  position: relative;
  z-index: 2;
  color: #e2e2e2;
  font-family: "Righteous", cursive;
  display: flex;
  padding: 10px;
}
header.header-area div.logo {
  width: 300px;
  padding: 30px;
}
header.header-area ul.nav-list {
  list-style: none;
  width: 100%;
  text-align: center;
}
ul.nav-list li {
  display: inline-block;
  padding: 30px;
  font-size: 20px;
}
ul.nav-list li a {
  text-decoration: none;
  color: white;
}
ul.nav-list li a:hover,
ul.nav-list li a.active {
  cursor: pointer;
  color: var(--main-color);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

section#landing-page div.intro-text {
  text-align: center;
  color: white;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
section#landing-page div.intro-text h1 {
  color: var(--main-color);
  font-size: 3em;
  margin: 0;
}
div.intro-text h1 span {
  color: rgb(0, 132, 255);
}
div.intro-text p {
  line-height: 1.6;
  font-size: 1.5em;
}
/* END LANDING PAGE */
